.image {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    object-fit: "cover";
    height: 75%;
    width: 100%;
}