.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    height: 75vh;
    margin: auto;
}
  
.image {
    width: auto;
    height: auto;
    object-fit: cover;
}
  
.mapContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
}

.targetMarker {
    position: absolute;
    bottom: 100%;
    right: 100%;
    opacity: 1;
    pointer-events: none;
    display: none;
}

.playerMarker {
    position: absolute;
    opacity: 1;
    pointer-events: none;
}