.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    object-fit: "cover";
    width: 98vw;
    height: 75vh;
}
  
.image {
    width: auto;
    height: auto;
    object-fit: cover;
}
  
.map {
    position: absolute;
    height: auto;
    bottom: 10px;
    right: 10px;
}