.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    object-fit: cover;
    width: 98vw;
    height: 75vh;
}
  
.image {
    width: auto;
    height: auto;
    object-fit: cover;
}
  
.mapContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.marker {
    position: absolute;
    top: 0;
    left: 0;
}